# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.pytest_cache

# Virtual environment
venv/
.env
*.env

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
